// COLORS
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #7e6fff;
$color-tertiary-dark: #5643fa;

$color-sky-cool: #1c85e8;

//RED COLORS
$red-themeprimary: #e52f42;
$red-themeneutral: #313033;

//PINK COLORS
$pink-primary: #efc3e6;

//COFFEE COLORS
$coffee-primary: #927563;

//DARK MODE COLORS
$dark-mode-dark: #0e1726;
$dark-mode-extra-dark: #060818;
$dark-mode-text-white: #e0e6ed;
$dark-mode-text-gray: #888ea8;
$dark-mode-border-gray: #5f5f5f;
$dark-mode-negative: #e7515a;
$dark-mode-positive: #009688;
$dark-mode-info: #00b4d8;
$dark-mode-alert: #f4a261;
$dark-mode-purple: #5e60ce;

//COFFEE COLORS
$coffee-light: #EADFD8;
$coffee-dark: #E1D7D2;


// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 2rem;
$gutter-horizontal: 6rem;
