// Selector universal
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is 10px, 10px/16px = 62.5%
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 0rem;

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%;
  }
  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(phone) { // width < 600?
    font-size: 30%;
  }
  @include respond(big-desktop) { // width < 1800?
    font-size: 75%;
  }

  #app {
    display: flex;
  }

  .menu {
    &::before {
      align-items: center;
      background-color: #333;
      border-radius: .4rem 0 0 .4rem;
      color: white;
      content: "â†";
      display: flex;
      font-size: 1.4rem;
      height: 2.4rem;
      justify-content: center;
      right: 2rem;
      position: fixed;
      top: 1.6rem;
      width: 3.2rem;
    }

    &__options {
      background-color: white;
      cursor: pointer;
      border-left: 1px solid #d3d3d3;
      display: flex;
      flex-direction: column;
      right: -22rem;
      top: 0;
      overflow-y: scroll;
      overflow-x: inherit;
      padding: 2.4rem;
      position: fixed;
      transition: all .3s ease-in-out;
      width: 24rem;
      height: 100vh;
      z-index: 2;

      &:hover {
        right: -2rem;
      }

      span {
        color: $color-grey-dark;
        font-size: 1.4rem;
        font-weight: 600;
        margin-top: 2.4rem;
        padding: .4rem .8rem;
        text-transform: uppercase;
      }

      a {
        color: $color-grey-dark;
        font-family: poppins;
        font-size: 1.4rem;
        font-weight: 600;
        padding: 1.4rem .8rem;
        text-decoration: none;

        svg {
          margin-right: .8rem;
        }

        &:hover {
          color: #5465ff;
        }
      }
    }
  }
}
