// Selector universal
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //This defines what 1rem is 10px, 10px/16px = 62.5%
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  padding: 0rem;

  @include respond(tab-land) { // width < 1200?
    font-size: 56.25%;
  }
  @include respond(tab-port) { // width < 900?
    font-size: 50%;
  }
  @include respond(phone) { // width < 600?
    font-size: 30%;
  }
  @include respond(big-desktop) { // width < 1800?
    font-size: 75%;
  }

  #app {
    display: flex;
  }

  .menu {
    background: #f9f9f9;
    flex: 0 0 208px;



    &__button {
      background: white;
      border: 0;
      cursor: pointer;
      font-weight: 600;
      padding: 2rem;
      transition: all .3s ease-in-out;

      &:hover {
        background: #5465ff;
        color: white;
      }

    }

    &__options {
      background-color: white;
      border-radius: 0 0 .8rem .8rem;
      box-shadow: 1px 0px 6px #96969659;
      display: flex;
      flex-direction: column;
      height: 100vh;
      left: 0;
      margin-bottom: 2rem;
      overflow-y: scroll;
      padding: 3rem 1rem;
      top: 100%;
      width: 100%;
      z-index: 1;

      a {
        color: #333;
        font-family: poppins;
        font-size: 1.4rem;
        font-weight: 400;
        padding: 1.4rem .8rem;
        text-decoration: none;

        &:hover {
          color: #5465ff;
        }
      }
    }
  }
}
