
.container-flx-project {
  // CSS variables
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --line: 1px solid var(--color-grey-light-2);

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);
  --shadow-light: 0 2rem 5rem rgba(0,0,0, .06);

  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-grey-dark-1);
  min-height: 100vh;
  padding: 4rem 0;

  @media only screen and (max-width: $bp-largest) {
    padding: 0;
    max-width: 100%;
    width: 100%;
  }

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  //////////////////////////////////////
  //MAIN PAGE CONTAINER
  .main-container-flx {
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    margin: 0 auto;
    max-width: 120rem;
    min-height: 50rem;

    //////////////////////////////////////
    //MAIN HEADER
    .header-flx{
      align-items: center;
      background-color: #fff;
      border-bottom: var(--color-grey-light-2);
      display: flex;
      font-size: 1.4rem;
      height: 7rem;
      justify-content: space-between;

      @media only screen and (max-width: $bp-xs) {
        flex-wrap: wrap;
        height: 11rem;
        align-content: space-around;
      }

      //////////////////////////////////////
      //LOGO

      .logo-flx {
        margin-left: 2rem;
        height: 3.25rem;
      }

      //////////////////////////////////////
      //SEACH CONTENT
      .search-flx {
        flex: 0 0 40%;

        display: flex;
        align-items: center;
        justify-content: center;

        @media only screen and (max-width: $bp-xs) {
          order: 1;
          flex: 0 0 100%;
          background-color: var(--color-grey-light-2);
        }

        &__input {
          background-color: var(--color-grey-light-2);
          border-radius: 100px;
          border: none;
          font-family: inherit;
          font-size: inherit;
          margin-right: -3.25rem;
          padding: .7rem 2rem;
          transition: all .2s;
          width: 90%;

          &:focus {
            background-color: var(--color-grey-light-3);
            outline: none;
            width: 100%;
          }

          &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
          }
        }

        &__input:focus + &__button:focus {
          background-color: var(--color-grey-light-3);
        }

        &__button {
          @include btn-default;
          background-color: var(--color-grey-light-2);

          &:focus {
            outline: none;
          }

          &:active {
            transform: translateY(2px);
          }
        }

        &__icon {
          font-size: 1.5rem;
          color: var(--color-grey-dark-3);
        }
      }

      //////////////////////////////////////
      //NAVBAR
      .nav-flx {
        display: flex;
        align-items: center;
        align-self: stretch;

        & > * {
          align-items: center;
          cursor: pointer;
          display: flex;
          height: 100%;
          padding: 0 2rem;
        }

        & > *:hover {
          background-color: var(--color-grey-light-2);
        }

        &__icon-box {

          position: relative;

          &__notification {
            background-color: var(--color-primary);
            border-radius: 50%;
            color: #fff;
            font-size: .8rem;
            height: 1.75rem;
            position: absolute;
            right: 1.1rem;
            top: 1.5rem;
            width: 1.75rem;

            display: flex;
            justify-content: center;
            align-items: center;
          }

          &__icon {
            font-size: 2rem;
            color: var(--color-grey-dark-2);
          }
        }

        &__user {
          position: relative;
          &__photo {
            height: 3.75rem;
            border-radius: 50%;
            margin-right: 1rem;
          }

          &:hover .navbar-list {
              transform: translateX(0);
              opacity: 1;
              z-index: 100;
          }

          .navbar-list {
            display: flex;
            background-color: var(--color-grey-light-1);
            flex-direction: column;
            left: 0px;
            position: absolute;
            top: 98%;
            width: 100%;
            z-index: -100;
            transition: all .3s cubic-bezier(1,0,0,1) .2s;
            padding: 1rem 0rem;
            transform: translateX(10px);
            opacity: 0;

            &-item {
              background: var(--color-grey-dark-3);
              margin: .2rem 0;
              padding: .5rem 0;
              text-align: center;
              color: white;

              &:hover {
                background: var(--color-primary-dark);
              }
            }
          }
        }
      }


    }

    //////////////////////////////////////
    //CONTAINER FLEXBOX
    .content-flx {
      display: flex;

      @media only screen and (max-width: $bp-medium) {
        flex-direction: column;
      }

      //////////////////////////////////////
      //SIDEBAR
      .sidebar-flx {
        background-color: var(--color-grey-dark-1);

        display: flex;
        flex-direction: column;
        flex: 0 0 18%;
        justify-content: space-between;

        //////////////////////////////////////
        //NAVIGATION
        .side-nav {
          font-size: 1.4rem;
          list-style: none;
          margin-top: 3.5rem;

          @media only screen and (max-width: $bp-medium) {
            display: flex;
            margin: 0;
          }

          &__item {
            margin: 0px;
            position: relative;
            width: 100%;

            &:not(:last-child) {
              margin-bottom: .5rem;

              @media only screen and (max-width: $bp-medium) {
                margin-bottom: 0;
              }
            }

            @media only screen and (max-width: $bp-medium) {
              flex: 1;
            }
          }

          &__item::before, {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 3px;
            background-color: var(--color-primary);
            transform: scaleY(0);
            //transform-origin: bottom;
            transition: transform .2s,
                        width .4s cubic-bezier(1,0,0,1) .2s,
                        background-color .1s;
          }


          &__item:hover::before,
          &__item--active::before {
            transform: scaleY(1);
            width: 100%;
          }

          &__item:active::before {
            background-color: var(--color-primary-light);
          }


          &__link:link, &__link:visited {
            color: var(--color-grey-light-1);
            display: block;
            padding: 1.5rem 3rem;
            position: relative;
            text-decoration: none;
            text-transform: uppercase;
            z-index: 10;

            display: flex;
            align-items: center;

            @media only screen and (max-width: $bp-medium) {
              justify-content: center;
              padding: 2rem;
            }

            @media only screen and (max-width: $bp-small) {
              flex-direction: column;
              padding: 1.5rem .5rem;
            }
          }

          &__icon {
            font-size: 1.3rem;
            margin-right: 2rem;
            color: var(--color-grey-light-1);

            @media only screen and (max-width: $bp-small) {
              margin-right: 0;
              margin-bottom: .7rem;
            }
          }
        }

        .legal {
          color: var(--color-grey-light-4);
          font-size: 1.2rem;
          padding: 2.5rem;
          text-align: center;

          @media only screen and (max-width: $bp-medium) {
            display: none;
          }
        }
      }

      //////////////////////////////////////
      //MAIN CONTENT FLEXBOX
      .main-content-flx {
        flex: 1;

        //////////////////////////////////////
        //Buttons
        .btn-inline {
          border: none;
          color: var(--color-primary);
          font-size: inherit;
          border-bottom: 1px solid currentColor;
          display: inline-block;
          background-color: transparent;
          cursor: pointer;
          transition: all .2s;

          & span {
            margin-left: 3px;
            transition: margin-left .2s;
          }

          &:hover {
            color: var(--color-grey-dark-1);

            span {
              margin-left: 8px;
            }
          }

          &:focus {
            outline: none;
          }
        }

        //////////////////////////////////////
        //GALLERY
        .gallery {
          display: flex;
          &__photo {
              width: 100%;
              display: block;
          }
        }

        //////////////////////////////////////
        //OVERVIEW
        .overview {
          display: flex;
          align-items: center;
          border-bottom: var(--line);

          @media only screen and (max-width: $bp-xs) {
            flex-wrap: wrap;
          }

          &__heading {
            font-size: 2.25rem;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 1px;
            padding: 1.5rem 3rem;

            @media only screen and (max-width: $bp-small) {
              font-size: 1.8rem;
              padding: 1.25rem 2rem;
            }

            @media only screen and (max-width: $bp-xs) {
              flex: 0 0 80%;
            }
          }

          &__stars {
            margin-right: auto;
            display: flex;
            font-size: 1.4rem;

            @media only screen and (max-width: $bp-xs) {
              flex: 0 0 20%;
            }
          }

          &__icon-star {
            &:not(:last-child) {
              margin-right: .2rem;
            }
          }

          &__icon-star,
          &__icon-location {
            color: var(--color-primary);
          }

          &__location {
            font-size: 1.2rem;
            display: flex;
            vertical-align: center;

            @media only screen and (max-width: $bp-xs) {
              flex: 0 0 80%;
              padding-left: 2rem;
            }
          }

          &__icon-location {
            margin-right: .5rem;
          }

          &__rating {
            background-color: var(--color-primary);
            color: white;
            margin-left: 3rem;
            padding: 0 2.5rem;
            align-self: stretch;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            @media only screen and (max-width: $bp-small) {
              padding: 0 1.5rem;
            }

            @media only screen and (max-width: $bp-xs) {
              flex: 0 0 20%;
              margin-left: 0;
            }
          }

          &__rating-average {
            font-size: 2rem;

            @media only screen and (max-width: $bp-small) {
              font-size: 1.8rem;
            }
          }

          &__rating-count {
            font-size: 1.2rem;

            @media only screen and (max-width: $bp-small) {
              font-size: .6rem;
            }
          }
        }

        //////////////////////////////////////
        //DETAIL
        .detail {
          background-color: var(--color-grey-light-1);
          border-bottom: var(--line);
          display: flex;
          padding: 4.5rem;
          font-size: 1.4rem;

          @media only screen and (max-width: $bp-medium) {
            padding: 3rem;
          }

          @media only screen and (max-width: $bp-small) {
            flex-direction: column;
          }

          .description {
            background-color: white;
            box-shadow: var(--shadow-light);
            flex: 0 0 60%;
            font-size: 1.4rem;
            margin-right: 4.5rem;
            padding: 3rem;

            @media only screen and (max-width: $bp-medium) {
              padding: 2rem;
              margin-right: 3rem;
            }

            @media only screen and (max-width: $bp-small) {
              margin-right: 0;
              margin-bottom: 3rem;
            }

            //////////////////////////////////////
            //Paragraph
            .paragraph:not(:last-of-type) {
              margin-bottom: 2rem;
            }

            //////////////////////////////////////
            //List
            .list {
              border-bottom: var(--line);
              border-top: var(--line);
              list-style: none;
              margin: 3rem 0;
              padding: 3rem 0;

              display: flex;
              flex-wrap: wrap;

              &__item {
                flex: 0 0 50%;
                margin: 0 0 .8rem 0;

                &--icon {
                  margin-right: .5rem;
                }
              }
            }

            //////////////////////////////////////
            //Recommend
            .recommend {
              color: var(--color-grey-dark-3);
              font-size: 1.3rem;

              display: flex;
              align-items: center;

              &__count {
                margin-right: auto;
              }

              &__friends {
                display: flex;
              }

              &__photo {
                border-radius: 50%;
                border: 3px solid white;
                box-sizing: content-box;
                height: 4rem;
                object-fit: cover;
                object-position: center;
                width: 4rem;

                &:not(:last-child) {
                  margin-right: -2rem;
                }
              }
            }
          }

          //////////////////////////////////////
          //Reviews
          .user-reviews {
            flex: 1;
            display: flex;
            flex-direction: column;
            align-items: center;

            .review {
              background-color: #fff;
              box-shadow: var(--shadow-light);
              margin-bottom: 3.5rem;
              overflow: hidden;
              padding: 3rem;
              position: relative;

              @media only screen and (max-width: $bp-medium) {
                padding: 2rem;
                margin-bottom: 3rem;
              }

              &::before {
                color: var(--color-grey-light-2);
                content: "\201C";
                font-family: sans-serif;
                font-size: 20rem;
                left: -1rem;
                line-height: 1;
                position: absolute;
                top: -2.75rem;
                z-index: 1;
              }

              &__text {
                margin-bottom: 2.5rem;
                z-index: 10;
                position: relative;
              }


              &__user {
                display: flex;
                justify-content: space-between;
                align-items: center;
              }

              &__photo {
                width: 4.5rem;
                height: 4.5rem;
                border-radius: 50%;
                object-fit: cover;
                object-position: top;
                margin-right: 1.5rem;
              }

              &__user-box {
                margin-right: auto;
              }

              &__user-name {
                font-size: 1.1rem;
                font-weight: 600;
                text-decoration: uppercase;
                margin-bottom: .4rem;
              }

              &__user-date {
                font-size: 1rem;
                color: var(--color-grey-dark-3);
              }

              &__rating {
                color: var(--color-primary);
                font-size: 2.2rem;
                font-weight: 300;
              }
            }
          }

        }

        //////////////////////////////////////
        //CTA Section
        .cta {
          padding: 3rem 0;
          text-align: center;

          &__book-now {
            color: var(--color-grey-dark-3);
            font-size: 1.8rem;
            font-weight: lighter;
            margin-bottom: 2rem;
          }
        }

        .btn-trillo {
          background-image:  linear-gradient(to right, var(--color-primary), var(--color-primary-dark));
          border-radius: 10rem;
          color: white;
          cursor: pointer;
          font-size: 1.8em;
          font-weight: lighter;
          overflow: hidden;
          position: relative;

          & > * {
            display: inline-block;
            height: 100%;
            transition: .2s all ease-in-out;
            width: 100%;
          }

          &__visible {
            padding: 2rem 7.5rem;
          }

          &__invisible {
            position: absolute;
            padding: 2rem 0;
            left: 0;
            top: -100%;
          }

          &:hover .btn-trillo__visible {
            transform: translateY(100%);
          }

          &:hover .btn-trillo__invisible {
            top: 0;
          }

          &:focus {
            outline: none;
            animation: pulse 1s infinite;
          }

        }
      }
    }
  }
}
