/*
 Primary: #eb2f64
 Primary light: #FF3366
 Primary Dark: #BA265D
 color-grey-light-1: #faf9f9
 color-grey-light-2: #f4f2f2
 color-grey-light-3: #f0eeee
 color-grey-light-4: #ccc

 --color-grey-dark-1: #333
 --color-grey-dark-2: #777
 --color-grey-dark-3: #999
*/

.container-flx-project {
  // CSS variables
  --color-primary: #eb2f64;
  --color-primary-light: #FF3366;
  --color-primary-dark: #BA265D;

  --color-grey-light-1: #faf9f9;
  --color-grey-light-2: #f4f2f2;
  --color-grey-light-3: #f0eeee;
  --color-grey-light-4: #ccc;

  --color-grey-dark-1: #333;
  --color-grey-dark-2: #777;
  --color-grey-dark-3: #999;

  --shadow-dark: 0 2rem 6rem rgba(0,0,0,.3);

  background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
  background-repeat: no-repeat;
  background-size: cover;
  color: var(--color-grey-dark-1);
  min-height: 100vh;
  padding: 4rem 0;

  .main-container-flx {
    background-color: var(--color-grey-light-2);
    box-shadow: var(--shadow-dark);
    margin: 0 auto;
    max-width: 120rem;
    min-height: 50rem;

    //////////////////////////////////////
    //MAIN HEADER
    .header-flx{
      align-items: center;
      background-color: #fff;
      border-bottom: var(--color-grey-light-2);
      display: flex;
      font-size: 1.4rem;
      height: 7rem;
      justify-content: space-between;

      //////////////////////////////////////
      //LOGO

      .logo-flx {
        margin-left: 3rem;
        height: 3.25rem;
      }

      //////////////////////////////////////
      //SEACH CONTENT
      .search-flx {
        flex: 0 0 40%;

        display: flex;
        align-items: center;
        justify-content: center;

        &__input {
          background-color: var(--color-grey-light-2);
          border-radius: 100px;
          border: none;
          font-family: inherit;
          font-size: inherit;
          margin-right: -3.25rem;
          padding: .7rem 2rem;
          transition: all .2s;
          width: 90%;

          &:focus {
            background-color: var(--color-grey-light-3);
            outline: none;
            width: 100%;
          }

          &::-webkit-input-placeholder {
            font-weight: 100;
            color: var(--color-grey-light-4);
          }
        }

        &__input:focus + &__button:focus {
          background-color: var(--color-grey-light-3);
        }

        &__button {
          border: none;
          background-color: var(--color-grey-light-2);

          &:focus {
            outline: none;
          }

          &:active {
            transform: translateY(2px);
          }
        }

        &__icon {
          font-size: 1.5rem;
          color: var(--color-grey-dark-3);
        }
      }

      //////////////////////////////////////
      //NAVBAR
      .nav-flx {
        background-color: yellow;
        &__icon-box {

          &__notification {

          }

          &__icon {
            font-size: 2rem;
          }
        }

        &__user {

          &__photo {
            height: 3.75rem;
            border-radius: 50%;
          }

          &__name {

          }

        }
      }


    }

    .content-flx {
      display: flex;

      .sidebar-flx {
        background-color: var(--color-grey-dark-1);
        flex: 0 0 18%;
        color: white;
      }

      .main-content-flx {
        background-color: purple;
        flex: 1;
        color: white;
      }
    }
  }
}
