.accent-products {
  display: flex;
  margin-left: 2.4rem;
  margin-top: 7.2rem;
  width: 100%;

    @media only screen and (max-width: $bp-medium) {
      display: flex;
      flex-direction: column;
    }

  &__left {
    flex: 0 0 33%;
    margin-right: 2.4rem;

    hr {
      border-top: 1px solid $red-themeneutral;
      margin-bottom: 3.2rem;
    }

    @media only screen and (max-width: $bp-medium) {
      h3 {
        margin-bottom: 2.4rem;
      }
    }

    h3 {
      font-size: 2.4rem;
      line-height: 2.4rem;
    }
  }

  &__right {
    flex: 0 0 60%;
    display: flex;

    @media only screen and (max-width: $bp-large) {
      flex-direction: column;
    }

    &__card {
      flex: 0 0 33%;

      @media only screen and (max-width: $bp-large) {
        display: flex;
        margin-bottom: 2.4rem;
      }

      @media only screen and (min-width: $bp-large) {
        &:not(:last-child) {
          margin-right: 2.4rem;
        }
      }

      &--head {
        background: $red-themeprimary;
        color: $color-white;
        display: flex;
        height: 22rem;
        justify-content: space-between;
        padding: 2.4rem;
        width: 100%;

        @media only screen and (max-width: $bp-large) {
          margin-right: 2.4rem;
          width: 50%;
        }

        span {
          align-self: flex-end;
          font-size: 4rem;
        }

        svg {
          font-size: 2rem;
          transform: rotate(-45deg);
        }
      }

      &--body {
        font-size: 1.6rem;
        margin-top: 1.4rem;
      }
    }
  }
}
