.admin-grid-transactions {
  background-color: #060818;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 2.4rem 5.6rem;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    justify-content: center;
  }

  &__grid-40 {
    background: #0e1726;
    border-radius: .5rem;
    color: #e0e6ed;
    flex: 0 0 38%;
    padding: 2.4rem;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 98%;
      margin-bottom: 1.6rem;
    }

    .row-items {
      display: flex;
      flex-direction: column;
      margin-top: 7rem;

      .column-item {
        align-items: center;
        border-radius: .5rem;
        border: 1px dashed #3b3f5c;
        display: flex;
        justify-content: space-between;
        margin-bottom: 1.6rem;
        padding: 1.2rem;

        &__info {
          display: flex;
          align-items: center;

          &__icon {
            background-color: orange;
            border-radius: 100%;
            display: inline-block;
            font-size: 1.5rem;
            height: 4rem;
            margin-right: 1.4rem;
            padding: .8rem;
            text-align: center;
            width: 4rem;
          }

          &__description {
            display: inline-block;

            p {
              font-size: 1.4rem;
            }

            span {
              font-size: 1.2rem;
              color: #888ea8;
            }
          }

          &__value {
            font-size: 1.4rem;

            &--negative {
              color: #e7515a;
            }

            &--positive {
              color: #009688;
            }
          }
        }
      }
    }

    h4 {
      font-size: 1.4rem;
      font-weight: normal;
      margin-bottom: 1.6rem;
    }
  }

  &__grid-30 {
    background: #0e1726;
    color: #e0e6ed;
    flex: 0 0 28%;
    padding: 2.4rem;

    @media only screen and (max-width: $bp-medium) {
      margin-bottom: 1.6rem;
    }

    h4 {
      margin-bottom: 2.4rem;
    }

    .head-account-info {
      border-bottom: 1px dashed #5f5f5f;
      padding: 0 0 2.4rem 0;
      text-align: center;

      h4 {
        font-size: 2.2rem;
        font-weight: 100;
        margin: 0;
      }

      h5 {
        color: #009688;
        font-size: 2.2rem;
        font-weight: 600;
      }
    }

    .body-account-info {
      border-bottom: 1px dashed #5f5f5f;
      padding: 2.4rem 0;

      li {
        display: flex;
        font-size: 1.4rem;
        font-weight: 600;
        list-style: none;
        padding: .8rem 0;

        .title-list {
          flex: 1;

          &--secundary {
            color: #9a9a9a;
            font-weight: 100;
            padding-left: .8rem;
          }
        }

        .result-list {
          flex: 0;

          &--secundary {
            color: #9a9a9a;
            font-weight: 100;
            padding-left: .8rem;
          }
        }
      }
    }

    .actions-account-info {
      display: flex;
      justify-content: center;
      padding: 2.4rem 0;

      &__summary, &__transfer {
        border-radius: .5rem;
        border: none;
        color: white;
        cursor: pointer;
        margin: 0 .8rem;
        padding: 1.2rem 1.6rem;

        &:hover {
          opacity: .8;
        }

      }

      &__summary {
        background: #888;
      }

      &__transfer {
        background: #e7515a;
      }
    }

    .timeline {
      margin-top: 7rem;

      &__list {
        align-items: flex-start;
        display: flex;
        height: 7.2rem;

        &__left-side {
          position: relative;
          height: 100%;

          &::before {
            background: #fafafa;
            content: "";
            left: .8rem;
            position: absolute;
            top: .4rem;
            transform: translateX(-50%);
            width: .2rem;
            height: 100%;
          }

          &__dot {
            border-radius: 50%;
            display: block;
            height: 1.6rem;
            margin-right: 1.2rem;
            margin-top: .4rem;
            position: relative;
            width: 1.6rem;

            &--red {
              background-color: #e63946;
            }

            &--blue {
              background-color: #00b4d8;
            }

            &--green {
              background-color: #2a9d8f;
            }

            &--orange {
              background-color: #f4a261;
            }

          }
        }

        &__info {
          flex: 1;

          p {
            color: #888ea8;
            font-size: 1.4rem;
            max-width: 14rem;
            min-width: 8rem;
          }
        }

        &__time {

          span {
            color: #888ea8;
          }
        }
      }
    }

    .content-action {
      font-size: 1.4rem;
      margin-top: 2.4rem;
      text-align: center;
      width: 100%;

      a {
        color: #5e60ce;
        text-decoration: none;

        &:hover {
          color: #6930c3;
        }
      }
    }

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 98%;
    }

    h4 {
      font-size: 1.4rem;
      font-weight: normal;
    }
  }
}
