.card-minimal-subscribe {
  border-radius: 1rem;
  box-shadow: 1px 1px 7px #e6e6e6;
  display: inline-table;
  font-family: 'Poppins', sans-serif;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 30rem;

  h3 {
    color: #333;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.6rem;
  }

  p {
    color: #c3c3c3;
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
  }

  span {
    color: #777777;
    font-size: 1.2rem;
    margin-right: 1.6rem;
  }

  i {
    background: #023e8a;
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    padding: 12px;
    text-align: center;
    width: 40px;

    svg {
      color: white;
    }
  }

  img {
    border-radius: 1rem;
    width: 100%;
  }
}
