
$bp-large: 68.75em; //1100px / 16

.card-signup {
  font-family: 'Open Sans', sans-serif;
    background: #f5f5f5;
    height: 100vh;
    width: 100vw;

  &--container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 0;
    display: flex;
  }

  &--item {
    background: white;
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-between;
    text-align: center;
    margin: 1.4rem;
    width: 30rem;

    img {
      width: 40%;
      margin: 3rem auto 0 auto;
    }

    &--title {
      h2 {
        color: #333;
        font-size: 2.2rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      span {
        color: #333;
        font-size: 1.4rem;
      }
    }

    &--price {

      h4 {
        color: #333;
        font-size: 3.8rem;
        font-weight: bold;
      }

      span {
        font-size: 1.4rem;
        text-transform: uppercase;
      }
    }

    button {
      background-color: lightgreen;
      font-size: 1.6rem;
      font-weight: bold;
      height: 14%;
      width: 100%;
      border: none;
    }
  }
}
