.card-signup {
    @include font-open-sans;
    background: $dark-mode-extra-dark;
    height: 100vh;
    width: 100vw;

  &--container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 6rem 0;
    display: flex;
    justify-content: center;
  }

  &--item {
    background: $dark-mode-dark;
    display: flex;
    flex-direction: column;
    height: 50rem;
    justify-content: space-between;
    text-align: center;
    margin: 1.4rem;
    width: 30rem;

    img {
      width: 28%;
      margin: 3rem auto 0 auto;
    }

    &--title {
      h2 {
        color: $dark-mode-text-white;
        font-size: 2.2rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      span {
        color: $dark-mode-text-gray;
        font-size: 1.4rem;
      }
    }

    &--price {

      h4 {
        color: $color-white;
        font-size: 3.8rem;
        font-weight: bold;
      }

      span {
        font-size: 1.4rem;
        text-transform: uppercase;
      }
    }

    button {
      @include btn-default;
      background-color: lighten($dark-mode-positive, 12%);
      font-size: 1.6rem;
      font-weight: bold;
      height: 14%;
      width: 100%;

      &:hover {
        background-color: $dark-mode-positive;
      }
    }
  }
}
