.card-minimal-subscribe {
  border-radius: 1rem;
  box-shadow: 1px 1px 7px $color-grey-light-2;
  display: inline-table;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3.2rem;
  padding: 1.6rem;
  width: 30rem;

  h3 {
    color: $color-grey-dark-3;
    font-size: 2rem;
    font-weight: 600;
    margin-top: 1.6rem;
  }

  p {
    color: $dark-mode-text-gray;
    font-size: 1.4rem;
    margin-bottom: 2.4rem;
  }

  span {
    color: $dark-mode-text-gray;
    font-size: 1.2rem;
    margin-right: 1.6rem;
  }

  i {
    background: darken($dark-mode-info, 16%);
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    padding: 12px;
    text-align: center;
    width: 40px;

    svg {
      color: white;
    }
  }

  img {
    border-radius: 1rem;
    width: 100%;
  }
}
