.card-open-door {
  height: 240px;
  width: 350px;
  display: flex;
  flex-direction: column;

  &__img {
    background-image: linear-gradient(0deg, rgba(20,20,20,0.9) 10%, rgba(255,255,255,0.1) 95%), url('https://opendoor.imgix.net/https%3A%2F%2Flisting-photos-production.s3.amazonaws.com%2Fuploads%2Flisting-41565%2F20066606-mBRvO7aPb4g.jpg?ixlib=rb-1.1.0&w=760&h=480&auto=compress&fit=crop&s=53a6d235b8f50502fef15886a3e45fca');
    background-position: center;
    flex: 0 0 74%;
    display: flex;
    align-items: flex-end;

    span {
      color: white;
      padding: 2rem 1.4rem;
      font-size: 1.4rem;
      font-weight: 100;

      strong {
        font-weight: 600;
        font-size: 1.8rem;
      }
    }
  }

  &__body {
    padding: 0 1.4rem;
    display: flex;
    align-items: center;
    flex: 1;

    p {
      display: flex;
      flex-direction: column;

      strong {
        font-weight: 400;
        font-size: 1.4rem;
        color: #333;
      }

      span {
        color: #525975;
      }
    }
  }
}
