
$bp-large: 68.75em; //1100px / 16

.casper-grid-section {
  display: flex;
  align-items: center;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;

  @media only screen and (max-width: $bp-large) {
    justify-content: center;
    flex-wrap: wrap;
  }

    &::before {
      background: #f1f1f1;
      content: '';
      height: 100%;
      position: absolute;
      right: 0;
      bottom: 0;
      width: 70%;
      z-index: -1;

      @media only screen and (max-width: $bp-large) {
        height: 70%;
        width: 100%;
        bottom: 0;
      }
    }



  img {
    height: 22rem;
    flex: 0 0 40%;

    @media only screen and (max-width: $bp-large) {
      flex: 0 0 80%;
    }
  }

  &__right {
    text-align: center;
    padding: 6rem 2rem;
    flex: 0 0 60%;

    @media only screen and (max-width: $bp-large) {
      flex: 0 0 100%;
    }

    h2 {
      font-size: 3.2rem;
    }

    p {
      font-size: 1.6rem;
      padding: 2rem 8rem;
    }

    button {
      @include btn-default;
      background-color: #333;
      border-radius: .5rem;
      color: white;
      font-size: 1.6rem;
      padding: 1.2rem 1.6rem;

      &:hover {
        opacity: .8;
      }
    }
  }
}
