$bp-largest: 75em; //1200px / 16
$bp-large: 68.75em; //1100px / 16
$bp-medium: 56.25em; //900px / 16
$bp-small: 37.5em; //600px / 16
$bp-xs: 31.25em; //500px / 16

section {
  width: 100%;
}

.cookies-components {
  background: #1E2336;
  height: 100%;
  padding: 4rem;
  width: 100%;

  .cookie-light-xl {
    background: #EADFD8;

    &__btn-container {

      .allow {
        background-color: #E1D7D2;
        border: 1px solid #D1C9C7;

        &:hover {
          background-color: #D1C9C7;
        }
      }

      .decline {
        background-color: #EADFD8;
        border: 1px solid #D1C9C7;

        &:hover {
          background-color: #D1C9C7;
        }
      }
    }

    a {
        border-bottom: 1px solid #B1ABAD;
        color: #2D3349;
    }

    p {
      color: #2D3349;
    }
  }

  .cookie-dark-xl {
    background: #2C3249;
    margin-top: 2rem !important;

    &__btn-container {

      .allow {
        background-color: #333A50;
        border: 1px solid #41485B;
        color: white;

        &:hover {
          background-color: #262c42;
        }
      }

      .decline {
        background-color: #2C3249;
        border: 1px solid #41485B;
        color: white;

        &:hover {
          background-color: #262c42;
        }
      }
    }

    a {
      border-bottom: 1px solid #DFE0E3;
      color: #DFE0E3;
    }

    p {
      color: #DFE0E3;
    }
  }

  .cookie-light-xl, .cookie-dark-xl {
    align-items: center;
    border-radius: .5rem;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 60rem;
    min-width: 40rem;
    padding: 2.4rem;
    width: 60%;

    @media only screen and (max-width: $bp-large) {
      flex-wrap: wrap;
      justify-content: center;

      svg {
        width: 100%;
      }

      p {
        padding: 1.6rem 0;
        text-align: center;
        width: 80%;
      }
    }

    svg {
      font-size: 2.4rem;
    }

    p {
      font-size: 1.4rem;
      margin: 0 1.6rem;

      a {
        text-decoration: none;
      }
    }

    &__btn-container {
      display: flex;

      .allow {
        border-radius: 10rem 5rem 5rem 10rem;
        cursor: pointer;
        margin-right: 1.2rem;
        padding: 1.6rem 2.4rem;

      }

      .decline {
        border-radius: 5rem 10rem 10rem 5rem;
        cursor: pointer;
        padding: 1.6rem;
      }
    }
  }
}
