.course-flexbox {
  font-family: 'Poppins', sans-serif;
  max-width: 40rem;
  margin: 0 auto;

  h1 {
    font-size: 4rem;
  }

  h3 {
    margin-bottom: .8rem;
    margin-top: 2.4rem;
  }

  .app-bar {
    background: #612CDC;
    color: white;
    display: flex;
    height: 6rem;
    font-size: 1.6rem;
    justify-content: space-between;
    padding: 2.4rem 1.6rem;
    width: 36rem;

    svg {
      cursor: pointer;

      &:hover {
        opacity: .8;
      }

      &:not(:last-child) {
        margin-right: 1.6rem;
      }
    }

    &__left {
      display: flex;
      align-items: center;
    }

    &__right {
      display: flex;
      align-items: center;
    }
  }

  .app-bar-grid {
    align-items: center;
    background: #612CDC;
    color: white;
    display: grid;
    font-size: 1.6rem;
    grid-gap: .8rem;
    grid-template-columns: repeat(8, 1fr);
    height: 6rem;
    padding: 1.8rem 1.6rem;
    width: 36rem;

    svg {
      cursor: pointer;

      &:hover {
        opacity: .8;
      }

      &:not(:last-child) {
        margin-right: .8rem;
      }
    }

    .item {
      align-self: center;
      justify-content: center;
    }

    .item-1 {
      grid-column: 1;
    }

    .item-2 {
      grid-column: span 2;
    }

    .item-3 {
      grid-column: 7;
    }

    .item-4 {
      grid-column: 8;
    }

    .item-5 {
      grid-column: 9;
    }
  }

/* nav-rail-flexbox */
  .nav-rail-flexbox {
    background: white;
    border: 1px solid #d9d9d9;
    padding: 1.6rem;
    width: 6rem;

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;

      li {
        cursor: pointer;
        font-size: 1.4rem;
        list-style: none;
        padding: 1.4rem 0;
        text-align: center;

        &:hover {
          opacity: .8;
        }

        p {
          background: #7BE4CF;
          border-radius: 50%;
          color: #333;
          font-size: 1.8rem;
          height: 3.2rem;
          text-align: center;
          width: 3.2rem;
        }

        span {
          font-size: 1.2rem;
          padding: 0;
        }
      }
    }
  }

  .nav-rail-grid {
    border: 1px solid #d9d9d9;
    width: 6rem;

    ul {
      display: grid;
      font-size: 1.4rem;
      grid-template-rows: repeat(4, 1fr);
      list-style: none;

      li {
        align-self: center;
        cursor: pointer;
        display: grid;
        justify-self: center;
        padding: 1.6rem 0;
        text-align: center;

        &:hover {
          opacity: .8;
        }

        svg {
          justify-self: center;
        }
      }
    }
  }

  // CARD
  .card-flexbox {
    border-radius: .5rem;
    border: 1px solid #d9d9d9;
    width: 40rem;

    &__head {
      display: flex;
      align-items: center;
      padding: 1.6rem;

      svg {
        background: #ADACAD;
        border-radius: 50%;
        font-size: 2.8rem;
        margin-right: 1.6rem;
        padding: .6rem;
      }

      .head-text {
        h4 {
          font-size: 1.6rem;
          font-weight: 600;
          line-height: 2.4rem;
        }

        p {
          font-size: 1.4rem;
          line-height: 1.4rem;
        }
      }
    }

    &__body {
      img {
        width: 100%;
      }

      p {
        padding: .8rem 1.6rem;
      }
    }

    &__footer {
      display: flex;
      justify-content: space-between;
      padding: 1.6rem;

      .left {
        flex: 1;

        button {
          @include btn-default;
          background-color: transparent;
          color: #8468bd;
          font-weight: 600;
          text-transform: uppercase;

          &:not(:last-child) {
            margin-right: 2.4rem;
          }

          &:hover {
            opacity: .8;
          }
        }
      }

      .right {
        flex: 0;
        display: flex;

        svg {
          font-size: 1.6rem;

          &:not(:last-child) {
            margin-right: 1.2rem;
          }
        }
      }
    }
  }

  .card-grid {
    border-radius: .5rem;
    border: 1px solid #d9d9d9;
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 40rem;

    &__head {
      display: grid;
      grid-template-columns: 3.2rem 1fr;
      padding: 1.6rem;

      svg {
        align-self: center;
        background: #ADACAD;
        font-size: 2.2rem;
        padding: .4rem;
        border-radius: 50%;
      }

      .head-text {
        align-self: center;
      }
    }

    &__body {
      img {
        width: 100%;
      }

      p {
        padding: .8rem 1.6rem;
      }
    }

    &__footer {
      padding: 1.6rem;
      display: grid;
      grid-template-columns: repeat(3, 1fr) repeat(2, 24px);

      svg {
        cursor: pointer;

        &:hover {
          opacity: .8;
        }
      }

      .heart {
        grid-column: 5;
        font-size: 1.6rem;
      }

      .share {
        grid-column: 6;
        font-size: 1.6rem;
      }

      button {
        @include btn-default;
        background-color: transparent;
        color: #8468bd;
        font-weight: 600;
        text-transform: uppercase;

        &:nth-child(1) {
          grid-column: 1;
        }

        &:nth-child(2) {
          grid-column: 2;
        }

        &:not(:last-child) {
          margin-right: 2.4rem;
        }

        &:hover {
          opacity: .8;
        }
      }
    }
  }

  .play-list {
    background-color: #33373D;
    width: 36rem;
    height: 48rem;

    &__head {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 2.4rem;

      h5 {
        font-size: 1.4rem;
        font-weight: 600;
      }

      button {
        width: 4rem;
        height: 4rem;
        @include btn-default;
        border-radius: 21px;
        background: #33373D;
        color: white;
        transition: all .3s ease-in-out;
        box-shadow:  3px 3px 6px #202326,
                     -3px -3px 6px #464b54;

        &:hover {
          border-radius: 21px;
          background: #33373D;
          box-shadow: inset 3px 3px 6px #202326,
                      inset -3px -3px 6px #464b54;
        }
      }
    }

    &__body {
      display: flex;
      justify-content: center;

      .img-container {
        background: #33373D;
        border-radius: 50%;
        box-shadow:  10px 10px 26px #1c1e21, -10px -10px 26px #4a5059;
        cursor: pointer;
        height: 23rem;
        padding: 1.6rem;
        position: relative;
        width: 23rem;
        transition: transform 4s ease-in-out;

        &:hover {
          transform: rotate(360deg);
        }

        &::before {
          background: #33373D;
          border-radius: 115px;
          box-shadow: inset 4px 4px 8px #212327, inset -4px -4px 8px #454b53;
          content: "";
          height: 4rem;
          left: 50%;
          position: absolute;
          top: 50%;
          margin-left: -2rem;
          margin-top: -2rem;
          width: 4rem;
          z-index: 2;
        }

        img {
          border-radius: 50%;
          height: 100%;
          width: 100%;
        }
      }
    }
  }
}
