.debid-card-container {

  img {
    width: 100%;
  }

  .debid-card {
    display: flex;
    flex-direction: row;
    padding: 3.2rem 2.4rem;
    width: 100%;

    @media only screen and (max-width: $bp-small) {
      flex-direction: column;
    }

    &__content {
      display: flex;
      flex-direction: row;
      padding-right: 3.2rem;

      @media only screen and (max-width: $bp-large) {
        flex-direction: column;
      }

      h1 {
        color: $color-black;
        flex: 1;
        font-size: 4.2rem;
        font-weight: 500;
        line-height: 4.4rem;
        margin-bottom: 2.4rem;
      }

      .text-container {
        flex: 1;
        p {
          font-size: 1.4rem;
          margin-bottom: 1.6rem;
        }

        span {
          font-size: 1.2rem;
        }
      }
    }

    &__buttons {
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media only screen and (max-width: $bp-small) {
        flex-direction: row;
      }

      button {
        @include btn-default;
        border-radius: .5rem;
        margin: .8rem;
        padding: 2rem 2.4rem;
        text-transform: uppercase;
        white-space: pre;

        &:hover {
          opacity: .8;
        }
      }

      .fill {
        background: $color-black;
        color: $color-white;

        svg {
          margin-left: .4rem;
          transform: rotate(-45deg);
        }
      }

      .outline {
        border: 1px solid $color-black;
      }
    }
  }
}
