.karim-section {
  display: flex;
  height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;

  &__btn {
    background-color: $color-white;
    color: $color-grey-dark-3;
    position: absolute;
    right: 2rem;
    top: 5rem;
    padding: 1rem 2rem;
    border: 0;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 800;
    font-size: 1.6rem;

    &__bottom-links {
      color: $color-white;
    }

    &:hover {
      background-color: $color-tertiary-light;
      color: $color-white;
    }
  }

  .active-nav {
    transform: translateX(0);
  }

  &__nav {
    background-color: rgba(20,20,20,.94);
    height: 100vh;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(100%);
    transition: all .3s ease-in-out;
    width: 40%;
    padding: 3rem;
    display: flex;
    flex-direction: column;

    ul {
      flex: 1;
      margin-top: 10rem;

      li {
        color: $color-white;
        font-size: 5.8rem;
        font-weight: 800;
        line-height: 5rem;
        list-style: none;
        padding: 0;
      }
    }

    input {
      background-color: transparent;
      border-bottom: 1px solid $color-white;
      border-right: 0;
      border-left: 0;
      border-top: 0;
      margin-bottom: 2rem;
      padding: 2rem 0;
      font-size: 2.8rem;
      font-weight: 800;
      color: $color-white;
    }

    &__bottom-links {
      margin-bottom: 2.8rem;

      a {
        color: $color-white;
        font-size: 1.4rem;
        font-weight: 200;
        text-decoration: none;

        &:not(:last-child) {
          margin-right: 2.4rem;
        }
      }
    }

    &__close {
      background: transparent;
      border: 0;
      color: $color-white;
      cursor: pointer;
      font-size: 2.8rem;
      position: absolute;
      right: 1rem;
      top: 1rem;
    }
  }

  &__left {
    flex: 0 0 26%;

    h2 {
      color: $color-tertiary-light;
      font-size: 9.4rem;
      font-weight: 800;
      left: 4rem;
      position: absolute;
      top: 20%;
    }

    button {
      border-bottom: 3px solid $color-white;
      border-left: 0;
      border-right: 0;
      border-top: 0;
      bottom: 4rem;
      color: $color-grey-dark-3;
      cursor: pointer;
      font-size: 2rem;
      font-weight: 800;
      left: 4rem;
      position: absolute;
      transition: all .3s ease-in-out;

      &:hover {
        border-bottom: 3px solid $color-tertiary-light;
        color: $color-tertiary-light;
      }
    }
  }

  &__right {
    flex: 0 0 74%;

    img {
      height: 100%;
      object-fit: cover;
      width: 100%;
    }
  }
}
