$bp-largest: 75em; //1200px / 16
$bp-large: 68.75em; //1100px / 16
$bp-medium: 56.25em; //900px / 16
$bp-small: 37.5em; //600px / 16
$bp-xs: 31.25em; //500px / 16

.landing-hero {
  background: #F9E4DB;
  display: flex;
  font-family: 'Poppins', sans-serif;
  height: 45vh;
  margin: 0 auto;
  max-width: 1200px;
  position: relative;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
    height: 70vh;
  }

  &:after {
    background-color: #F9E4DB;
    content: "";
    height: 45vh;
    left: -100%;
    width: 100%;
    top: 0;
    position: absolute;
    z-index: -1;
  }

  &--left {
    flex: 1;
    margin-top: 16%;

    @media only screen and (max-width: $bp-largest) {
      flex: 1.5;
    }

    @media only screen and (max-width: $bp-medium) {
      padding: 0 4rem;
    }

    span {
      color: #1D1D20;
      font-size: 1.2rem;
      font-weight: 200;
      text-transform: uppercase;
      letter-spacing: .4rem;
    }

    h3 {
      color: #1D1D20;
      font-size: 5.6rem;
      font-weight: 600;
      line-height: 6rem;
      margin-bottom: 2.4rem;
      width: 100%;

      @media only screen and (max-width: $bp-medium) {
        font-size: 2.4rem;
        line-height: 2.4rem;
        margin-bottom: .8rem;
      }
    }

    p {
      color: #1D1D20;
      font-size: 1.4rem;
      margin-bottom: 3.2rem;
    }

    button {
      background-color: #1D1D20;
      border: none;
      color: white;
      cursor: pointer;
      font-size: 1.6rem;
      font-weight: 400;
      padding: 1.2rem 4rem;
      transition: all .3s ease-in-out;

      &:hover {
        background-color: white;
        color: #1D1D20;
      }
    }
  }

  &--right {
    flex: 1;
    position: relative;

    .front-img {
      bottom: -40%;
      margin-right: -40%;
      position: absolute;
      right: 50%;
      width: 60%;
      z-index: 2;

      @media only screen and (max-width: $bp-medium) {
        margin-right: -30%;
      }
    }

    .back-img {
      bottom: 0;
      position: absolute;
      right: 0;
      width: 100%;
      z-index: 2;
    }
  }
}
