body {
  background: #1A1A1A;
}

.landing-user-interface {
  background: #1A1A1A;
  display: grid;
  font-family: 'Poppins', sans-serif;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 1fr 3fr 2fr 1fr 1fr;
  height: 100vh;
  margin: 0 auto;
  max-width: 900px;
  padding: 2.4rem 0;
  grid-template-areas:
    "logo logo menu1 menu2 menu3 menu4"
    "title title title title title cta"
    "lgimg lgimg . about about ."
    "lgimg lgimg . mdimg mdimg mdimg"
    "lgtitle lgtitle smimg . testimonial time";

  .logo {
    grid-area: logo;
    height: 8rem;
    border-radius: 50%;
    overflow: hidden;
    width: 3rem;
    height: 3rem;
  }

  .line-1, .line-2, .line-3, .line-4, .line-5, .line-6, .line-7 {
    border-left: 1px solid #212121;
    grid-row: 1 / span 5;
    width: 0;
  }

  .line-1 {
    grid-column: 1;
  }

  .line-2 {
    grid-column: 2;
  }

  .line-3 {
    grid-column: 3;
  }

  .line-4 {
    grid-column: 4;
  }

  .line-5 {
    grid-column: 5;
  }

  .line-6 {
    grid-column: 6;
  }

  .line-7 {
    grid-column: 7;
  }

  .menu-1, .menu-2, .menu-3, .menu-4 {
    color: #d3d3d3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
    cursor: pointer;
    transition: all .3s ease-in-out;

    &:hover {
      color: #ffba08;
    }
  }

  .menu-1 {
    grid-area: menu1;
  }

  .menu-2 {
    grid-area: menu2;
  }

  .menu-3 {
    grid-area: menu3;
  }

  .menu-4 {
    grid-area: menu4;
  }

  .main-head {
    grid-area: title;
    padding: 4.8rem 0;

    span {
      border-left: 1px solid #fafafa;
      color: #fafafa;
      font-size: 1.4rem;
      padding-left: .8rem;
      text-transform: uppercase;
    }

    h1 {
      color: #fafafa;
      font-size: 7rem;
      font-weight: 600;
      letter-spacing: -3px;
      line-height: 7.2rem;
      max-width: 65%;
      padding-top: 3.2rem;
    }
  }

  .main-cta {
    align-self: end;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    grid-area: cta;
    height: 140px;
    padding: 4.8rem 2.4rem;
    width: 100%;

    svg {
      margin-bottom: 1.4rem;
    }
  }

  .lg-img {
    grid-area: lgimg;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  .md-img {
    grid-area: mdimg;

    img {
      height: 100%;
      object-fit: cover;
      width: 33.3%;
    }

    &--box {
      background-color: $color-grey-dark-3;
      width: 100%;
      height: 80px;
    }
  }

  .about {
    grid-area: about;
    padding-bottom: 3.2rem;

    h4 {
      border-left: 1px solid #fafafa;
      color: #fafafa;
      font-size: 1.4rem;
      font-weight: 400;
      padding-left: .8rem;
      text-transform: uppercase;
    }

    p {
      padding-left: .8rem;
      padding-top: 1.6rem;
      color: #d2d2d2;
      font-size: 1.2rem;
      line-height: 2.4locarem;
    }
  }

  .lg-title {
    grid-area: lgtitle;

    h5 {
      color: #fafafa;
      font-size: 1.4rem;
      font-weight: 500;
      padding-top: 1.2rem;
    }

    span {
      color: #d4d4d4;
    }
  }

  .sm-img {
    grid-area: smimg;

    img {
      width: 100%;
    }
  }

}
