.pay-amount-component {
  background: $color-grey-light-2;

  &__container {
    background: $color-white;
    border-radius: 1rem;
    margin: 10rem auto;
    padding: 3.2rem 2.4rem;
    width: 40rem;

    .head {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.6rem;

      h3 {
        font-size: 1.8rem;
        font-weight: 600;
      }

      label {
        background-color: lighten($color-sky-cool, 44%);
        border-radius: .5rem;
        color: $color-sky-cool;
        font-size: 1.6rem;
        padding: .4rem 1.2rem;
      }
    }

    .forms {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      .input-container {
        display: flex;
        flex-direction: column;

        label {
          color: $dark-mode-text-gray;
          font-size: 1.4rem;
          letter-spacing: -.4px;
          margin-bottom: .8rem;
        }

        input {
          border-radius: .5rem;
          border: 1.5px solid darken($color-grey-light-2, 16%);
          color: $color-grey-dark;
          font-size: 1.3rem;
          padding: 1.2rem;
        }

        input[type=number] {
          padding: 1.3rem 1.2rem;
        }


        &__fullwidth {
          flex: 0 0 100%;
          margin-bottom: 1.6rem;
        }

        &__half {
          flex: 0 0 48%;
        }
      }
    }

    .actions {
      display: flex;
      justify-content: space-between;
      margin-top: 2.4rem;

      button {
        @include btn-default;
        border-radius: .5rem;
        flex: 0 0 48%;
        font-size: 1.4rem;
        padding: 1.2rem 1.6rem;

        &:hover {
          opacity: .8;
        }
      }

      .cancel-btn {
        background: $color-white;
        border: 1px solid darken($color-grey-light-2, 20%);
        color: #999;
        cursor: pointer;
      }

      .pay-btn {
        background: lighten($color-sky-cool, 10%);
        color: $color-white;
        cursor: pointer;

        svg {
          margin-right: .8rem;
        }
      }
    }
  }
}
