.scroll-hadler-sections {
  &__container {
    height: 500px;
    background: lighten($color-primary-dark, 30%);

    &:not(:last-child) {
      margin-bottom: 2rem;
    }

    &__orange {
      background-color: lighten($color-secondary-light, 20%);

      animation-duration: .6s;
      animation-name: slidein;
    }

    @keyframes slidein {
      from {
        opacity: .1;
      }

      to {
        opacity: 1;
      }
    }
  }

}
