$bp-medium: 56.25em; //900px / 16

.stripe-customer-card {
  display: flex;
  margin: 4.8rem;
  margin: 7.2rem auto;
  max-width: 1080px;

  @media only screen and (max-width: $bp-medium) {
    flex-wrap: wrap;
  }

  &__left {
    flex: 0 0 50%;
    padding: 2.4rem;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 100%;
    }
  }

  &__right {
    flex: 0 0 50%;
    padding: 2.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    @media only screen and (max-width: $bp-medium) {
      flex: 0 0 100%;
    }

    h4 {
      font-size: 2.4rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }

    p {
      font-size: 1.6rem;
      font-weight: 100;
      margin-bottom: 2.4rem;
    }

    a {
      color: $color-tertiary-dark;
      font-size: 1.8rem;
    }
  }

  .card-client {
    width: 100%;
    background: $dark-mode-dark;
    border-radius: 1.2rem;
    overflow: hidden;

    &__img {
      width: 100%;
    }

    &__info {
      background: $dark-mode-dark;
      padding: 3.2rem 4.8rem;
      transform: skewY(7deg);
      position: relative;
      bottom: 4rem;
      left: 0;
      color: $color-grey-light-2;

      h3 {
        font-size: 3.2rem;
        transform: skewY(-7deg);
        margin-bottom: 1.6rem;
      }

      p {
        font-size: 1.8rem;
        transform: skewY(-7deg);
        font-weight: 100;
      }
    }
  }
}
